.greyBG{
  background-color: #f1f2f3;
}
.container{
  width: 100%;
  padding: 0 15px;
}
.d-flex{
  display: flex;
}
.heading{
  padding: 25px 0 15px;
}
.filterMainWrapper{
  display: flex;
  flex-wrap: wrap;
}
